.ares_image {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    padding-top: 50px;
}
.enterHere {
	text-align: center;
	color: black;
	font-weight: bold;
	border-top: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    float: center;
    margin-top: 1em;
}

.testing {
	background-color: black;
	margin-left: 0px;
    margin-right: 0px;
}

* {
	box-sizing: border-box;
}